<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>

  	<%= yield %>
		<a href="/">Home</a> | <a href="/signup">Sign up</a> | <a href="/login">Log in </a> | <a href="/noway">No way (app) </a> | <a href="/search">Search controller</a> | <a href="/search/noway">No way (search)</a>
  </body>
</html>